 <footer class="site-footer">
  <div class="container">
    <div class="flex-group">
      <div>
        <a href="">Privacy Notice</a>
        <a href="">Copyright and Image Details</a>
      </div>
      <div class="logo">
        <p>The SRA is a registered Scottish charity (SC008896)</p>
        <img src="/assets/oscr-icon.webp"/>
      </div>
      
    </div>
  </div>
</footer>