---
title: About Us
layout: 'base.njk'
---

<main>     
    <section>
        <div class="container flow">
            <h1 class="section-title">About Us</h1>
            <p>The Scottish Records Association (SRA) holds an <a href="/conference/">annual conference</a> and organises visits of archival interest (<a href="">summer visits</a>). A bi-annual newsletter, <a href="">Retour</a>, reports news from Scottish archives, including relevant publications and exhibitions.</p>
            <figure>
                <img src="/assets/about_us_1.jpg" alt=""/>
                <figcaption></figcaption>
            </figure> 
            <p>The annual journal, <a href="/scottish-archives/">Scottish Archives</a>, reflects both the distinctive interests of the Association's members and appeals to a wider audience. It features illustrated papers from conferences as well as other commissioned and submitted articles focussing on Scottish archives and historical sources, their use and interpretation.</p>
            <p>In conjunction with National Records of Scotland, the SRA publishes a guide to palaeography, 'Scottish Handwriting 1500-1700: a self-help pack'.</p>
            <figure>
                <img src="/assets/about_us_2.jpg" alt=""/>
                <figcaption></figcaption>
            </figure>
            <p>The <a href="/documents/SRA_Constitution_revised_Dec_2023.pdf" target="_blank">constitution of the Scottish Records Association</a>, the Annual Reports for <a href="/documents/sra_annual_report_2022-2023.pdf" target="_blank">2022-23</a>, <a href="/documents/SRA_Annual_Report_2023_2024.pdf" target="_blank">2023-24</a> and <a href="/documents/SRA_Annual_Report_2024_2025.pdf" target="_blank">2024-25</a> as well as the Accounts for <a href="/documents/SRA_Accounts_2024_2025.pdf" target="_blank">2024-25</a> can be downloaded as pdfs.</p>
            <p>Support the work of the SRA, be first to hear about visits and the conference, and receive Scottish Archives and Retour on a regular basis by <a href="/membership/">becoming a member</a>.</p>


        </div>
    </section>

</main>