---
title: Conferences
layout: 'base.njk'
---

<main>     
    <section>
        <div class="container flow">
            <h1 class="section-title">Conference</h1>
            <h2 class="text-center">Conference autumn 2025</h2>
            <h3 class="text-center"><i>An arresting day out in Inveraray: prison records and their use in historical research</i></h3>
            <p class="text-center"><strong>Call for papers</strong></p>
            <figure>
                <img src="/assets/sra-conference-autumn-2025.jpg" alt=""/>
            </figure>
            <p>The Scottish Records Association's autumn 2025 conference will take place on <strong>Friday 19 September 2025</strong> in Cherry Park, the eighteenth-century estate offices at Inveraray Castle, and will address the subject of prison records and their use by historians and other researchers.</p>
            <p>The conference will take a slightly different shape and form this year, with traditional conference papers in the morning followed by lunch and a guided tour of Inveraray Jail.</p>
            <p>The focus of the day is prison records and their use in historical research, and we invite proposals for papers reflecting current research using prison records in public and private ownership, the type and format of the records themselves, and the development, management and custody of these collections.</p>
            <p>Themes and topics, might include, but are not limited to:
                <ul>
                    <li>prison records and how they have or may be used for historical research</li>
                    <li>reviews of projects that have used or are using prison records in new ways</li>
                    <li>issues involved in preserving, managing and providing access to prison records,</li>
                    <li>prisoners and prison employees.</li>
                </ul>
                Please note that presenters must be able to attend the conference in person.
            </p>
            <p>Enquiries about the conference, informal offers of papers and abstracts for papers (c.200 words) should be submitted to Alison Diamond at: <a href="mailto:SRAtreasurer2024@gmail.com">SRAtreasurer2024@gmail.com</a>. <strong>The closing date for submission of abstracts is mid-day on 15 May 2025</strong>.</p>
            <p>Speakers at the conference may submit written versions of their presentations for inclusion in a subsequent issue of the Association’s journal (Scottish Archives). As this issue is likely to include content on the theme of prison records, articles on related topics are also sought from anyone who cannot make a presentation at the conference. For further information on the journal please see <a href="https://www.scottishrecordsassociation.org/scottish-archives">https://www.scottishrecordsassociation.org/scottish-archives</a>.</p>
            <p>For those wishing to immerse themselves fully in the local history and culture, the conference precedes Argyll and Bute's Open Doors weekend (20 and 21 September 2025).</p>
            <p>Inveraray Castle (<a href="www.inveraray-castle.com" target="_blank">www.inveraray-castle.com</a>) is the home of the 13th Duke of Argyll. Argyll Estates are a modern and diverse land and visitor attraction with various business streams including Inveraray Castle visitor attraction, forestry, renewable energy developments and the historical archive.</p>
            <p>Inveraray Jail (<a href="www.inverarayjail.co.uk" target="_blank">www.inverarayjail.co.uk</a>) is a 19th-century prison where visitors can experience what life was like for the real men, women and children who were tried and imprisoned there.</p>
            <h2 class="text-center">Annual General Meeting 2024</h2>
            <p>The Forty-Seventh Annual General Meeting of the Scottish Records Association took place online via Zoom on Tuesday 17 December 2024 at 12.30pm.</p>
            <h2 class="text-center">Conference autumn 2024</h2>
            <h3 class="text-center"><i>Estate, Household and Family Collections and their Use in Research</i></h3>
            <p>The autumn 2024 conference, held in conjunction with the Scottish Association of Country House Archivists, was on estate, household and family papers in private and public ownership and their use in historical and other types of research. It took place over two days: the first, on 23 October, at the Sir Duncan Rice Library at the University of Aberdeen (and online) dealt specifically with estate papers. The second, on 15 November, at the Soutar Theatre, AK Bell Library in Perth (and online) looked at wider country house collections, including correspondence, household papers and libraries.</p>
            <figure>
                <img src="/assets/conference-autumn-2024.jpg" alt="Vignette of distilling and farming from a plan of the lands of Craigend, Stirlingshire, 1798."/>
                <figcaption>Vignette of distilling and farming from a plan of the lands of Craigend, Stirlingshire, 1798. <br/>Crown copyright, National Records of Scotland (RHP80866).</figcaption>
            </figure>
            <h3 class="text-center"><i>Estate, Household and Family Collections and their Use in Research: Part 1</i></h3>
            <p class="text-center"><b>Wednesday 23 October 2024</b><br />
            Sir Duncan Rice Library, University of Aberdeen</p>
            <p><b>Programme</b></p>
            <p>
            <b>Dr Alan MacDonald</b>, Senior Lecturer, University of Dundee <br/><i>Loss and Survival: what estate records tell us about estate records</i>
            <br/><br/>
            <b>Dr Alan Borthwick</b>, Archive Depositor Liaison Branch, National Records of Scotland (NRS) <br/><i>The NRS Experience of Collecting and Managing Estate Papers Over the Past Century</i>
            <br/><br/>
            <b>Irene Hallyburton</b>, doctoral researcher, University of Dundee <br/><i>Secession and Improvement: the rental book of Culfargie</i>
            <br/><br/>
            <b>John Moore</b>, retired academic librarian <br/><i>A View of the Landscape: a research project to produce a coherent list and record of the pre-Ordnance Survey Scottish estate plans</i>
            <br/><br/>
            <b>Scott Macfie</b>, doctoral researcher, University of Glasgow <br/><i>Agricultural Improvement on the Isle of Bute (1755-1814)</i>
            <br/><br/>
            <b>Bob Reid</b>, volunteer researcher at the Argyll Papers <br/><i>The Marriage Customs of Seventeenth-century Scotland that Controlled the Property Rights of the Bride's and Groom's Families</i>
            <br/><br/>
            <b>Craig Thomas</b>, Assistant Archivist, Buccleuch Living Heritage Trust <br/><i>Buccleuch: Industrial opportunism or future-proofing?</i>
            <br/><br/>
            <b>Dr Alan Borthwick</b>, Archive Depositor Liaison Branch, National Records of Scotland (NRS) <br/><i>The NRS Experience of Collecting and Managing Estate Papers Over the Past Century</i>
            <br/><br/>
            <b>Dr Fiona Salvesen Murrell</b>, Curator, Paxton House <br/><i>Paxton House and Caribbean Connections 1750-1850</i>
            <br/><br/>
            </p>
            <h3 class="text-center"><i>Estate, Household and Family Collections and their Use in Research: Part 2</i></h3>
            <p class="text-center"><b>Friday 15 November 2024</b><br />
            Soutar Theatre, AK Bell Library, Perth</p>
            <p><b>Programme</b></p>
            <p>
            <b>Professor Annie Tindley</b>, Head of School of History, Classics and Archaeology, University of
            Newcastle <br/><i>Working with and for community benefit in estate archives</i>
            <br/><br/>
            <b>Kelsey Jackson Williams</b>, Associate Professor in English Studies, University of Stirling <br/><i>Scottish Country House Libraries: Undiscovered Treasures</i>
            <br/><br/>
            <b>Daryl Green</b>, Head of Heritage Collections and Co-Director of the Centre for Research Collections, University of Edinburgh <br/><i>Rewriting Scottish Book History in the Country House Library</i>
            <br/><br/>
            <b>Ingrid Thomson</b>, retired academic librarian <br/><i>Women of Glamis: Privilege and Privation</i>
            <br/><br/>
            <b>Rachel Beattie</b>, Curator, land and sport, National Library of Scotland <br/><i>Women and sport in the estate papers at the National Library of Scotland</i>
            <br/><br/>
            <b>Ellen Engseth</b>, Curator of Immigration History Research Center Archives and Head of Migration and Social Services Collections, University of Minnesota <br/><i>Archival theory and other visitors to a country house</i>
            <br/><br/>
            <b>Tessa Spencer</b>, Head of Outreach and Learning, National Records of Scotland <br/><i>The Balfour legacy: exploring the papers of the Balfour of Whittingehame family, Earls of Balfour</i>
            <br/><br/>
            <b>Margaret Fox</b>, Archivist, Traquair House <br/><i>William MacIver: estate factor, curator and linchpin of the family</i><br/><br/>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="text-center">Annual General Meeting 2023</h2>
            <p>The Forty-Sixth Annual General Meeting of the Scottish Records Association took place online via Zoom on Thursday 14 December at 12.30pm.</p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="text-center">Conference autumn 2023</h2>
            <h3 class="text-center"><i>The Body as Evidence</i></h3>
            <p>The autumn 2023 conference took place at the Soutar Theatre, A K Bell Library, Perth, on Thursday 23 November 2023. It covered issues and themes about the human body in archives. Topics included death, post-mortems, forensic science, and reconstruction of traumatic events that caused injury and death.</p>
            <figure>
                <img src="/assets/old_calton_burial_ground.webp" alt="Old Calton burial ground, Edinburgh."/>
                <figcaption>Old Calton burial ground, Edinburgh. Copyright Iain Hutchison</figcaption>
            </figure>
            <h3>Programme</h3>
            <p>
            <b>Dee Hoole</b> - <i>All that Remains: The Aberdeen Anatomy Records, c.1820-1920</i>
            <br/><br/>
            <b>Cheryl McGeachan</b> - <i>Police Surgeons and Body Geographies</i> 
            <br/><br/>
            <b>Ashleigh Black</b> - <i>The Physiognomy of the Fallen Woman: Tattoos as Expressions of Identity in Nineteenth-Century Female Convicts</i>
            <br/><br/>
            <b>Rosemary Elliott</b> - <i>'In Sickness and in Health': Frail and Failing Bodies in McIver v McIver (1857-59)</i>
            <br/><br/>
            <b>Ivan Sanchez Hervas</b> - <i>Medical Testimony and The Spectrum of Sex in the National Records of Scotland</i>
            <br/><br/>
            <b>Natasha Preger</b> - <i>The Post Office Needs You: Medical Examination in the Victorian and Edwardian Recruitment Process</i>
            <br/><br/>
            <b>Jenny Duffy</b> - <i>Band of Brothers: A Tale of Three Thieves and their Journey to the Gallows</i>
            <br/><br/>
            <b>Malcolm Bangor-Jones</b> - <i>Attitudes towards the Burial of Suicides in the Northern Highlands during the 19th century</i>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="text-center">Conference spring 2023</h2>
            <h3 class="text-center"><i>On the Write Track:</i> making sense of older handwriting</h3>
            <p>The spring 2023 conference of the Scottish Records Association took place on Friday 24 February and was held in conjunction with National Records of Scotland.</p>
            <p>The venue was New Register House in Edinburgh. At the morning session a series of talks discussed advances in online palaeography tuition and how Artificial Intelligence can help transcribe manuscripts.</p>
            <p>During the afternoon there was an open event where researchers could bring documents they were having problems reading or understanding, to get advice from experienced palaeographers from academic institutions and archives. Also present were societies who publish original sources of Scottish history, showing how their publications can help researchers understand similar records, and how to access other useful sources. There was also a small display of original records from the National Records of Scotland's archives related to the societies' publications.</p>
            <p>The conference marked the launch of the new edition of 'Scottish Handwriting 1500-1700: a self-help pack', published jointly by the Scottish Records Association and National Records of Scotland.</p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="text-center">Annual Conference 2022</h2>
            <h3 class="text-center"><i>Spoken Record:</i> communities and their sound archives</h3>
            <p>The 2022 annual conference of the Scottish Records Association took place on 18 May 2022 online and at the Soutar Theatre, AK Bell Library, Perth. It explored how personal testimony and sound archives are used by research projects to record the experiences of people who are connected by similarities in their working lives, geographical location, or other 'communities of interest'. Recordings from such projects have special significance for these communities, but also extend beyond them and can be re-used in different ways. Presentations were made by historians and others who use recordings in their research, and by archivists, curators and other staff who make sound archives available to researchers.</p>
            <h3>Programme</h3>
            <p>
            <b>Terry Brotherstone</b> (University of Aberdeen) and <b>Dr Hugo Manson</b> (independent scholar)
            <br/>
            <i>The Making of an Oral Archive: how the Aberdeen University / British Library Lives in the [UK North Sea] Oil Industry Collection was created</i>
            <br/><br/>
            <b>Dr Valentina Bold</b> (Crichton Trust)
            <br/>
            <i>'Up the Middle Road': Crichton stories of resilience and recovery</i>
            <br/><br/>
            <b>Professor Margaret Bennett</b> (Royal Conservatoire of Scotland)
            <br/>
            <i>Perthshire Shuttle-makers and the Ordie Shuttle Mill, Luncarty</i>
            <br/><br/>
            <b>Dr Saqib Razzaq</b> (Colourful Heritage Project)
            <br/>
            <i>'The Colourful Heritage Project: preserving the history of Scotland's South Asians and Muslims</i>
            <br/><br/>
            <b>Audrey Wilson and Taylor Webb</b> (Scottish Council on Archives)
            <br/>
            <i>Voices - Our Stories Matter: bridging the gap between archives and community heritage</i>
            <br/><br/>
            <b>Victoria Peters</b> (University of Strathclyde)
            <br/>
            <i>The Scottish Oral History Centre Archive at the University of Strathclyde</i>
            <br/><br/>
            <b>Louise Scollay</b> (University of Edinburgh)
            <br/>
            <i>The School of Scottish Studies Archives: access and re-use</i>
            <br/><br/>
            <b>Caroline Milligan and Lesley Bryson</b> (European Ethnological Research Centre)
            <br/>
            <i>An Exploration of the Methodology and Practice of the Regional Ethnology of Scotland Project (RESP)</i>
            </p>
        </div>
    </section>
</main>