---
title: Contact Us
layout: 'base.njk'
---

<main>     
    <section>
        <div class="container flow">
            <h1 class="section-title">Contact Us</h1>
            <p>The Scottish Records Association (SRA) does not carry out research (either paid or unpaid), nor does it hold historical records. Officials of the Association carry out work for the Association in their spare time and cannot enter into correspondence or answer enquiries, except regarding Association business.</p>
            <p>Postal enquiries can be addressed to:<br />
            Scottish Records Association<br />
            c/o Anne Cameron<br />
            University of Strathclyde Archives and Special Collections<br />
            Andersonian Library (Curran Building)<br />
            101 St James Road<br />
            Glasgow G4 0NS</p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2>Council Members 2024-2025</h2>
            <p>Office Bearers:</p>
            <ul>
            
            <li><div><b>Convener</b></div>
            <div>Dr Alison Rosie<br />Email: <a href="mailto:scottishrecordsassociation@gmail.com">scottishrecordsassociation@gmail.com</a></div>
            </li>
            
            <li><div><b>Secretary</b></div>
            <div>Dr Anne Cameron<br/>Email: <a href="mailto:anne.m.cameron@strath.ac.uk">anne.m.cameron@strath.ac.uk</a></div>
            </li>

            <li><div><b>Treasurer</b></div>
            <div>Mrs Alison Diamond<br/>Email: <a href="mailto:sratreasurer2024@gmail.com">sratreasurer2024@gmail.com</a></div>
            </li>

            <li><div><b>Membership Secretary</b></div>
            <div>Mr Robert Urquhart<br/>Email: <a href="mailto:sra-membership@abbotshall.net">sra-membership@abbotshall.net</a></div>
            </li>

            <li><div><b>Journal Editors</b></div>
            <div>Dr Charlotte Berry<br/>Dr Cathryn Spence<br/>Email: <a href="mailto:editorscottisharchives@gmail.com">editorscottisharchives@gmail.com</a></div>
            </li>

            <li><div><b>Newsletter Editor</b></div>
            <div>Mrs Ingrid Thomson<br />Email: <a href="mailto:retoureditors@gmail.com">retoureditors@gmail.com</a></div>
            </li>

            <li><div><b>Web Editor</b></div>
            <div>Dawid Palgan<br/>Email: <a href="mailto:scottishrecordsassociation@gmail.com">scottishrecordsassociation@gmail.com</a></div>
            </li>

            </ul>

            <h2>Ordinary Members of Council:</h2>
            <ul>
                <li>Dr Malcolm Bangor-Jones</li>
                <li>Ms Jenny Duffy</li>
                <li>Mrs Mary Gifford</li>
                <li>Dr Iain Hutchison</li>
                <li>Dr Patricia Kelleher</li>
                <li>Ms Jennifer Marshall</li>
                <li>Mrs Tahitia McCabe</li>
                <li>Ms Alison Metcalfe</li>
                <li>Mrs Elizabeth Roads</li>
                <li>Dr Ronnie Scott</li>
            </ul>
            <p>All general enquiries concerning SRA business should be sent to: <a href="mailto:scottishrecordsassociation@gmail.com">scottishrecordsassociation@gmail.com</a>.</p>
        </div>
    </section>
</main>