---
title: Copyright and Image Details
layout: 'base.njk'
---

<main>     
    <section>
        <div class="container flow">
            <h1 class="section-title">Copyright and Image Details</h1>
            <h2>Copyright</h2>
            <p>All text and images on this site are the copyright of the Scottish Records Association (SRA), unless otherwise indicated. The SRA thanks all copyright holders for permission to use their images.</p>
            <p>The Scottish Records Association has made reasonable endeavours to identify rights-holders for images used on this website and to obtain agreement with the image rights-holder in each case, and of the owners of any original records featured in the images.</p>
            <p>If the SRA is contacted by a potential rights-holder who objects to records being made available online, it will remove the images in question from the website until it has been able to investigate and make a decision on the case.</p>
            <p>If images are removed for valid reasons of copyright, their removal will be considered as lasting until copyright of the images expires, or until the rights-holders agree that the material can be reinstated.</p>
            <h2>Home Page Image Details</h2>
            <p>The images on the Home page are (top, then left to right on each row):
                <ol class="list">
                    <li>Facsimile of the seal of the Guardians of Scotland, 1292, Crown copyright, National Records of Scotland, RH5/55</li>
                    <li>Vignette of distilling and farming. Detail from plan of lands of Craigend in Parish of St Ninians, Stirlingshire by William Drummond, Surveyor, 1798. Crown copyright, National Records of Scotland, RHP80866</li>
                    <li>Nurses having a picnic at the Cottage Hospital, Aberfeldy, 1915. Copyright Perth and Kinross Archive, MS320</li>
                    <li>Suffragette Fanny Parker, alias Janet Arthur, being escorted from Ayr Sheriff Court, 1914. Crown copyright, National Records of Scotland, HH16/43/58</li>
                    <li>Silk postcard, The Black Watch, from John Reid's WWI Postcards, 1917. Copyright Perth and Kinross Archive, MS328/35/2</li>
                </ol>  
            </p>
            <h2>About Us Page Image Details</h2>
            <p>The images on the About Us page are:
                <ol class="list">
                    <li>SRA visit to Glamis Castle Archives, 6 September 2019. Reproduced with the permission of Glamis Castle.</li>
                    <li>Detail of the first entry in the General Register of Sasines, 1617. Crown copyright, National Records of Scotland, RS1/1</li>
                </ol>  
            </p>
        </div>
    </section>
</main>