---
title: Events
layout: 'base.njk'
eleventyNavigation:
  key: Events
  order: 5
---

<main>     
    <section class="content">
        <div class="container flow">
            <h1 class="section-title">Events</h1>
            <figure>
                <img src="/assets/clay-banks-unsplash.jpg" alt="Event in an archive." />
                <figcaption></figcaption>
            </figure>
            <p>Each year the Scottish Records Association organises a <a href="/conference/">conference</a> and two visits to archival repositories.​</p>
            <p>In this section of the website you can find information on upcoming events as well as read short summaries of previous <a href="/conference/">conferences</a> and <a href="/summer-visits/">Summer Visits</a>.</p>
        </div>
    </section>
</main>