---
title: Welcome to Scottish Records Association
layout: 'base.njk'
---
  
 
    <main>
      
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Welcome to the website of the Scottish Records Association (SRA)</h1>
        <p>The SRA was founded in 1977 and is concerned with the preservation and use of historical records in Scotland. It provides a forum for users, owners and custodians of records to discuss matters relating to the records, their custody and conservation and research.</p>
      </div>
      <div class="hero__visual">
        <img src="/assets/st-andrew-seal.jpg" alt="Facsimile of the seal of the Guardians of Scotland, 1292, Crown copyright, National Records of Scotland, RH5/55" class="hero__image">
      </div>
  </div>
</section>

<section id="homepage-content" class="homepage-content">
  <div class="container flow">
    <div class="flex-group">
          <img src="/assets/farmers.webp" alt="Vignette of distilling and farming. Detail from plan of lands of Craigend in Parish of St Ninians, Stirlingshire by William Drummond, Surveyor, 1798. Crown copyright, National Records of Scotland, RHP80866" class="homepage-image">
          <img src="/assets/women.webp" alt="Nurses having a picnic at the Cottage Hospital, Aberfeldy, 1915. Copyright Perth and Kinross Archive, MS320" class="homepage-image">
    </div>
    <p>The aims of the SRA are to raise public awareness of matters affecting records; to promote the role of archives in providing evidence of the past and preserving cultural heritage; to encourage co-operation regarding the custody, preservation, accessibility and use of records of all media; and to give a voice to users and custodians in discussing topics of common interest.</p>
    <div class="flex-group">
          <img src="/assets/suffragette.webp" alt="Suffragette Fanny Parker, alias Janet Arthur, being escorted from Ayr Sheriff Court, 1914. Crown copyright, National Records of Scotland, HH16/43/58" class="homepage-image">
          <img src="/assets/the-black-watch.webp" alt="Silk postcard, The Black Watch, from John Reid's WWI Postcards, 1917. Copyright Perth and Kinross Archive, MS328/35/2" class="homepage-image">
    </div>  
  </div>
</section> 
    </main>
   
