---
title: Membership
layout: 'base.njk'
---

<main>     
    <section>
        <div class="container flow">
            <h1 class="section-title">Membership</h1>
            <p>Membership of the Association is open to all individuals and institutions interested in furthering its aims.</p>
            <p>Full membership benefits include the annual journal, Scottish Archives, the bi-annual newsletter, Retour, reduced rates at the annual conference and news about other relevant events including Association visits to archives and repositories.</p>
            <p>Individual members in the UK can opt for full membership, student / reduced membership, or joint-membership (two people sharing, for example when living at the same address). All the membership categories include receipt of all publications; joint-members each receive a copy of the newsletter but receive one shared copy of the journal. Individual members abroad can opt for full membership or reduced membership (journal only).</p>
            <p>To join the Association, please print, complete and return the <a href="/documents/application_for_membership_2026.docx">membership form</a> with the appropriate payment. Alternatively, you can use our <a href="https://membershipsra.wordpress.com/" target="_blank">online membership form</a>. If you have any queries, please email: <a href="mailto:sra-membership@abbotshall.net">sra-membership@abbotshall.net</a>.</p>
        </div>
    </section>

    <section>
        <div class="container flow">
            <table role="table">
                <caption>Individual membership</caption>
                <tbody role="rowgroup">
                    <tr role="row">
                        <th rowspan="3">UK</th>
                        <td role="cell" class="bold">Full membership</td>
                        <td role="cell">£25.00</td>
                    </tr>
                    <tr role="row">
                        <td role="cell" class="bold">Student / reduced membership</td>
                        <td role="cell">£18.00</td>
                    </tr>
                    <tr role="row">
                        <td role="cell" class="bold">Joint-membership</td>
                        <td role="cell">£36.00</td>
                    </tr>
                     <tr role="row">
                        <th role="cell" rowspan="2">Overseas</th>
                        <td role="cell" class="bold">Full membership</td>
                        <td role="cell">£32.00</td>
                    </tr>
                     <tr role="row">
                        <td role="cell" class="bold">Journal only</td>
                        <td role="cell">£27.00</td>
                    </tr>
                </tbody>
            </table>
            <table role="table">
                <caption>Institutional membership</caption>
                <tbody role="rowgroup">
                    <tr role="row">
                        <th role="cell">UK</th>
                        <td role="cell" class="bold">Full membership</td>
                        <td role="cell">£40.00</td>
                    </tr>
                     <tr role="row">
                        <th role="cell">Overseas</th>
                        <td role="cell" class="bold">Full membership</td>
                        <td role="cell">£50.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section> 
</main>







