---
title: Palaeography Workshops
layout: 'base.njk'
---

<main>     
    <section>
        <div class="container flow">
            <h1 class="section-title">Palaeography Workshops</h1>
            <p>The Scottish Records Association (SRA) offers palaeography classes to help researchers read and understand handwritten records produced in Scotland in the early modern period. Some are restricted to members of the Association only and others are open to everyone. The workshops are free of charge and are run on a voluntary basis by members of the SRA who have relevant experience in reading early-modern records and/or teaching palaeography. The classes were originally designed to be offered on-site for small groups but they have been modified to be presented online as well.</p>
            <figure>
                <img src="/assets/extract_from_hearth_tax_roll_for_aberdeenshire.webp" alt="xtract from the hearth tax roll for Aberdeenshire"/>
                <figcaption>Extract from the hearth tax roll for Aberdeenshire, compiled about 1692, copyright National Records of Scotland, E69/1/9/2.</figcaption>
            </figure>    
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2>Workshops 2024</h2>
            <p>The SRA is creating a new workshop on household papers and correspondence in private collections, in conjunction with Glamis Castle Archives. Once this has been successfully trialled, the SRA hopes to resume palaeography workshops at some point in 2024. If you would like to host a palaeography workshop, please get in touch with the Membership Secretary, Mr Robert Urquhart, via the <a href="/contact/">Contact page</a>.</p>
        </div>
    </section>
</main>