---
title: Palaeography Publications
layout: 'base.njk'
---

<main>     
    <section>
        <div class="container flow">
            <h1 class="section-title">Palaeography</h1>
            <p>In association with National Records of Scotland, the SRA publishes the palaeography guide: 'Scottish Handwriting 1500-1700: a self-help pack'. This is a guide to reading Scottish documents written between 1500 and 1700, with colour facsimiles and transcriptions of typical documents from the period.</p>
            <p>Download a free electronic copy of '<a href="/documents/NRS-Scottish_handwriting_self-help_kit-web.pdf" target="_blank">Scottish Handwriting 1500-1700: a self-help pack</a>' (5.6 MB PDF)</p>
            <p>A paper copy can be purchased via the ScotlandsPeople website at: <a href="https://www.scotlandspeople.gov.uk/store/scottish-handwriting-kit" target="_blank">https://www.scotlandspeople.gov.uk/store/scottish-handwriting-kit</a>.</p>
            <figure>
                <img src="/assets/palaeography-workshop.jpg" alt="The Scottish Handwriting self-help pack being used at a palaeography workshop.">
                <figcaption>The Scottish Handwriting self-help pack being used at a palaeography workshop.<br /> Image copyright Perth and Kinross Archive.</figcaption>
            </figure>
            <p>The Scottish Records Association (SRA) offers palaeography classes to help researchers read and understand handwritten records produced in Scotland in the early modern period. Some are restricted to members of the Association only and others are open to everyone. The workshops are free of charge and are run on a voluntary basis by members of the SRA who have relevant experience in reading early-modern records and/or teaching palaeography. The classes were originally designed to be offered on-site for small groups but they have been modified to be presented online as well.</p>
            <p>If you would like to host a palaeography workshop, please get in touch with the Membership Secretary via the <a href="/contact/">Contact page</a></p>
        </div>
        
    </section>
</main>




