---
title: Palaeography Workshops
layout: 'base.njk'
---

<main>     
    <section>
        <div class="container flow">
            <h1 class="section-title">Palaeography Workshops</h1>
            <div class="parallel__block">
                <div class="parallel__block__item_1">
                    <p>The Scottish Records Association (SRA) offers palaeography classes to help researchers read and understand handwritten records produced in Scotland in the early modern period. Some are restricted to members of the Association only and others are open to everyone. The workshops are free of charge and are run on a voluntary basis by members of the SRA who have relevant experience in reading early-modern records and/or teaching palaeography. The classes were originally designed to be offered on-site for small groups but they have been modified to be presented online as well.</p>
                    <br />
                    <h2>Workshops 2024-2025</h2>
                    <p>The SRA ran two workshops in Aberdeen on 22 and 24 October 2024, to coincide with the autumn conference on estate and household papers.</p>
                    <p>On 22 October the Palaeography Pointers workshop took place. On 24 October a workshop on household papers and correspondence was run, for the first time combining the two parts of that workshop in a single day.</p>
                    <p>Part 2 of the Palaeography Workshop for Private Household Collections will take place in the Muniments Room at Argyll Estates Archives at Inveraray Castle on <b>Monday 22nd September 2025 10:30am-2:30pm.</b></p>
                    <p>This workshop introduces researchers and archive staff to the skills and techniques necessary to read and interpret Scottish household papers, in the early-modern period and deals with correspondence, journals, and other household records from the seventeenth century. The documents used in the course are from Glamis Castle Archives, but they are record types found in most historic house collections. This in-person course will be led by Ingrid Thomson, Glamis Castle archivist.</p>
                    <p>You do not need to have completed Part 1 of this course before doing Part 2, however anyone attempting this course should have a basic knowledge of early modern handwriting, and should preferably have completed a beginner's course in Scots palaeography.</p>
                    <p>Tea/coffee and biscuits will be available. A sandwich and traybake lunch can be provided for £7.50 per person. Pre-booking is essential and please advise of any dietary requirements or allergies when you book your place. Places are limited so please book as early as possible by emailing: <a href="mailto:alison@inveraray-castle.com" target="_blank">alison@inveraray-castle.com</a></p>
                    <p>If you would like to host a palaeography
                    workshop, please get in touch with the Membership Secretary via the <a href="/contact/">Contact page</a>.</p>
                </div>
                <figure class="parallel__block__item_2">
                    <img src="/assets/Glamis_Palaeography_Workshop_Feb_2024.jpg" alt="Glamis Castle Workshop, 16 February 2024"/>
                    <figcaption>Glamis Castle Workshop, 16 February 2024. Courtesy of the Scottish Records Association (SRA) and Strathmore Estates (Holding) Ltd.</figcaption>
                </figure>    
            </div>
        </div>
    </section>
    <section>
        <div class="container flow">
        </div>
    </section>
</main>