---
title: Palaeography Workshops
layout: 'base.njk'
---

<main>     
    <section>
        <div class="container flow">
            <h1 class="section-title">Palaeography Workshops</h1>
            <div class="parallel__block">
                <div class="parallel__block__item_1">
                    <p>The Scottish Records Association (SRA) offers palaeography classes to help researchers read and understand handwritten records produced in Scotland in the early modern period. Some are restricted to members of the Association only and others are open to everyone. The workshops are free of charge and are run on a voluntary basis by members of the SRA who have relevant experience in reading early-modern records and/or teaching palaeography. The classes were originally designed to be offered on-site for small groups but they have been modified to be presented online as well.</p>
                    <br />
                    <h2>Workshops 2024</h2>
                    <p>The SRA ran two workshops in Aberdeen on 22 and 24 October 2024, to coincide with the autumn conference on estate and household papers.</p>
                    <p>On 22 October the Palaeography Pointers workshop took place. On 24 October a workshop on household papers and correspondence was run, for the first time combining the two parts of that workshop in a single day.</p>
                    <p>Workshops in 2025 are under consideration. If you would like to host a palaeography
                    workshop, please get in touch with the Membership Secretary via the <a href="/contact/">Contact page</a>.</p>
                </div>
                <figure class="parallel__block__item_2">
                    <img src="/assets/Glamis_Palaeography_Workshop_Feb_2024.jpg" alt="Glamis Castle Workshop, 16 February 2024"/>
                    <figcaption>Glamis Castle Workshop, 16 February 2024. Courtesy of the Scottish Records Association (SRA) and Strathmore Estates (Holding) Ltd.</figcaption>
                </figure>    
            </div>
        </div>
    </section>
    <section>
        <div class="container flow">
        </div>
    </section>
</main>