---
title: Publications
layout: 'base.njk'
eleventyNavigation:
  key: Publications
  order: 4
---

<main>     
    <section>
        <div class="container flow">
            <h1 class="section-title">Publications</h1>
            <img src="/assets/scotish-archives-journal.webp">
            <p>The Scottish Records Association (SRA) publishes the journal, <a href="/scottish-archives/">Scottish Archives</a>, and the newsletter, <a href="/retour/">Retour</a>. Copies are sent to Association members and the UK copyright libraries.​</p>
            <p>In association with National Records of Scotland, the SRA also publishes the palaeography guide: ‘Scottish Handwriting 1500-1700: a self-help pack’. This is a guide to reading Scottish documents written between 1500 and 1700, with colour facsimiles and transcriptions of typical documents from the period.</p>
            <p>Download a free electronic copy of <a href="/documents/NRS-Scottish_handwriting_self-help_kit-web.pdf">‘Scottish Handwriting 1500-1700: a self-help pack’</a> (5.6 MB PDF).</p>
            <p>A paper copy can be purchased via the ScotlandsPeople website at: <a href="https://www.scotlandspeople.gov.uk/store/scottish-handwriting-kit">https://www.scotlandspeople.gov.uk/store/scottish-handwriting-kit</a>.</p>
        </div>
    </section>
</main>