---
title: Retour
layout: 'base.njk'
---

<main>     
    <section>
        <div class="container flow">
            <h1 class="section-title">Retour</h1>
            <p>'Retour' is the newsletter distributed to members of the Scottish Records Association (SRA) in spring and autumn each year. It gets its name from a Scottish legal document, whereby a jury of local landowners was assembled to hear evidence and to decide if a particular individual was the rightful heir to property. The jury made a return (or 'retour') of its findings to the Royal Chancery. In our case, news about all aspects of Scottish archives is passed to the SRA and the assembled 'Retour' is published for the benefit of everyone.</p>
            <p>Owners of records, archivists, librarians, curators and researchers can pass on interesting or unusual discoveries, provide news of recent accessions, completed catalogues, records being transcribed or released online, and forthcoming events. Books and exhibitions can also be publicised. SRA members (and non-members) are invited to submit articles between 100 and 500 words in length, and images (with captions and acknowledgements) are very welcome. Articles and illustrations may also be featured on the SRA website, so please ensure that they are accompanied by appropriate permission from any rights-holders.</p>
            <p>For more information, or to submit an article, please contact the Editors, Joanne Wishart and Ingrid Thomson at <a href="mailto:retoureditors@gmail.com">retoureditors@gmail.com</a>.</p>
     </div>
    </section>
</main>