---
title: Scottish Archives
layout: 'base.njk'
---

<main>     
    <section>
        <div class="container flow">
            <h1 class="section-title">Scottish Archives</h1>
            <p>
Are you undertaking research using Scottish archives? Have you considered submitting an article to Scottish Archives, the journal of the Scottish Records Association? Articles in this annual, peer-reviewed journal, focus on the use of and interpretation of Scottish archives and historical sources both within Scotland and further afield. The Editors will consider any submission that makes use of archival material to explore historical matters relevant to Scotland. Article length should be between 4,000 and 6,000 words, but longer submissions may be considered. Under our Green Open Access Policy, articles are published on the Association's website one year after print publication which enables your research to be disseminated to a wide audience.</p>
            <p>Please contact the Editors, Charlotte Berry and Cathryn Spence at: <a href="mailto:editorscottisharchives@gmail.com">editorscottisharchives@gmail.com</a> if you wish to propose or submit a paper.</p>
            <p>If you have already published a book, you might like to consider sending a copy for review to our Reviews Editor who can be contacted at: <a href="mailto:reviewseditorscottisharchives@gmail.com">reviewseditorscottisharchives@gmail.com</a>.</p>
            <p>The Editorial Team at Scottish Archives look forward to hearing from you!</p>
            <p><a href="/documents/author_requirements_and_style_guide_-_latest.pdf" target="_blank">Guidelines for Authors</a> (220KB PDF)<br />
            <a href="/documents/scottish_archives_book_review_guidelines.pdf" target="_blank">Book Review Guidelines</a> (64KB PDF)<br />
            <a href="/documents/open_access_policy.pdf" target="_blank">Open Access Policy</a> (48 KB PDF)</p>
            <p>The contents for each volume of Scottish Archives are listed below. Articles (from 2011) are available online minus images. A small number of back copies of the journal with images are available for purchase, mainly to existing members of the Association. If you are interested in obtaining back-copies of previous journals please contact the Membership Secretary. Or why not become a member to secure your own copy of Scottish Archives each year? Further details are available on the <a href="/membership/">Membership page</a>.</p>
        </div>
    </section>
    <section>
        <div class="container flow" id="toc_container">
            <p class="toc_title">Contents</p>
                <ol>
                    <li><a href="#sa30">Scottish Archives Volume 30 (2024)</a></li>
                    <li><a href="#sa29">Scottish Archives Volume 29 (2023)</a></li>
                    <li><a href="#sa28">Scottish Archives Volume 28 (2022)</a></li>
                    <li><a href="#sa27">Scottish Archives Volume 27 (2021)</a></li>
                    <li><a href="#sa25">Scottish Archives Volume 25/26 (2019-2020)</a></li>
                    <li><a href="#sa24">Scottish Archives Volume 24 (2018)</a></li>
                    <li><a href="#sa23">Scottish Archives Volume 23 (2017)</a></li>
                    <li><a href="#sa22">Scottish Archives Volume 22 (2016)</a></li>
                    <li><a href="#sa21">Scottish Archives Volume 21 (2015)</a></li>
                    <li><a href="#sa20">Scottish Archives Volume 20 (2014)</a></li>
                    <li><a href="#sa19">Scottish Archives Volume 19 (2013)</a></li>
                    <li><a href="#sa18">Scottish Archives Volume 18 (2012)</a></li>
                    <li><a href="#sa17">Scottish Archives Volume 17 (2011)</a></li>
                    <li><a href="#sa16">Scottish Archives Volume 16 (2010)</a></li>
                    <li><a href="#sa15">Scottish Archives Volume 15 (2009)</a></li>
                    <li><a href="#sa14">Scottish Archives Volume 14 (2008)</a></li>
                    <li><a href="#sa13">Scottish Archives Volume 13 (2007)</a></li>
                    <li><a href="#sa12">Scottish Archives Volume 12 (2006)</a></li>
                    <li><a href="#sa11">Scottish Archives Volume 11 (2005)</a></li>
                    <li><a href="#sa10">Scottish Archives Volume 10 (2004)</a></li>
                    <li><a href="#sa9">Scottish Archives Volume 9 (2003)</a></li>
                    <li><a href="#sa8">Scottish Archives Volume 8 (2002)</a></li>
                    <li><a href="#sa7">Scottish Archives Volume 7 (2001)</a></li>
                    <li><a href="#sa6">Scottish Archives Volume 6 (2000)</a></li>
                    <li><a href="#sa5">Scottish Archives Volume 5 (1999)</a></li>
                    <li><a href="#sa4">Scottish Archives Volume 4 (1998)</a></li>
                    <li><a href="#sa3">Scottish Archives Volume 3 (1997)</a></li>
                    <li><a href="#sa2">Scottish Archives Volume 2 (1996)</a></li>
                    <li><a href="#sa1">Scottish Archives Volume 1 (1995)</a></li>
                </ol>
        </div>
    </section>

    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa30">Scottish Archives Volume 30 (2024)</h2>
            <p>
                <ul class="list">
                    <li>Carol Parry: Alistair George Tough</li>
                    <li>John Pelan: The Scottish Council on Archives and Supporting Community Archives in Scotland</li>
                    <li>James Fox: Recordkeeping and the Business of Books in pre-Union Edinburgh: The Debt Book of John Porteous, 1699-1702</li>
                    <li>Aaron M. Allen: Finding the Bonnetmakers and Litsters: Sources Extant for Some Edinburgh Textile Trades</li>
                    <li>Nicole Maceira Cumming: 'Uther his hienes pettis': The Value of the Treasurer's Accounts (NRS, E21/E22) in Reconstructing the Menagerie of James VI, c.1579-1603</li>
                    <li>Kate McGregor: Notaries and their Clients in St Andrews, 1466-1560</li>
                    <li>Samantha Case: The Scotch Whisky Archives of Bacardi</li>
                    <li>Iain Hutchison: Country Houses and Landed Estates: the Scottish Records Association Conferences, 2024</li>
                    <li>Louise Williams: "Good record-keeping was not given the status it requires": Responding to the UK Infected Blood Inquiry</li>
                </ul>
            </p>
        </div>
    </section>

    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa29">Scottish Archives Volume 29 (2023)</h2>
            <p>
                <ul class="list">
                    <li>Ingrid Shearer: <a href="/documents/scottish-archives/volume-29/Scottish_Archives_29_-_1-Shearer.pdf" target="_blank">About the West Boathouse Project</a></li>
                    <li>Caroline Milligan, Lesley Bryson and Mark Mulhern: <a href="/documents/scottish-archives/volume-29/Scottish_Archives_29_-_2-Milligan.pdf" target="_blank">The Regional Ethnology of Scotland Project: Archive and Research in Partnership</a></li>
                    <li>Alison Spence: <a href="/documents/scottish-archives/volume-29/Scottish_Archives_29_-_3-Spence.pdf" target="_blank">Patrick Mitchell and Calico Printing in the West of Scotland, 1796-1864</a></li>
                    <li>Margaret Bennett: <a href="/documents/scottish-archives/volume-29/Scottish_Archives_29_-_4-Bennett.pdf" target="_blank">Towards an Oral History of the Stanley Mills, Luncarty Bleachworks and Ordie Shuttle Mill, Perthshire</a></li>
                    <li>Iain Hutchison: <a href="/documents/scottish-archives/volume-29/Scottish_Archives_29_-_5-Hutchison.pdf" target="_blank">The Outdoor Blind People of Perth and Perthshire, 1886-1908</a></li>
                    <li>Victoria Turner: <a href="/documents/scottish-archives/volume-29/Scottish_Archives_29_-_6-Turner.pdf" target="_blank">George MacLeod, Baron MacLeod of Fuinary - Living Faith and Learning about Class Divisions in the First World War</a></li>
                    <li>Hannah Speed: <a href="/documents/scottish-archives/volume-29/Scottish_Archives_29_-_7-Speed.pdf" target="_blank">The Edinburgh Movement for Women's Higher Education Through the Eyes of its Founder - What can the Writings and Biography of Mary Crudelius Reveal about the Campaign (1866-77)?</a></li>
                    <li>Eamonn Connor: <a href="/documents/scottish-archives/volume-29/Scottish_Archives_29_-_8-Connor.pdf" target="_blank">'Scenes of Great Animation!' - Reflections on the Cruise Diary</a></li>
                    <li>Andrew A McMillan: <a href="/documents/scottish-archives/volume-29/Scottish_Archives_29_-_9-McMillan.pdf" target="_blank">The Archive of The Edinburgh Academy</a></li>
                </ul>
            </p>
        </div>
    </section>

    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa28">Scottish Archives Volume 28 (2022)</h2>
            <p>
                <ul class="list">
                    <li>Mollie Horne, <a href="/documents/scottish-archives/volume-28/Horne.pdf" target="_blank">Aberdeen Harbour Board: Audience Engagement in the Time of COVID</a></li>
                    <li>Robert Fell, <a href="/documents/scottish-archives/volume-28/Fell.pdf" target="_blank">'It happened at the berry-time when Travellers came to Blair': Traveller Voices in Tobar an Dualchais / Kist o Riches</a></li>
                    <li>Amy Blakeway, <a href="/documents/scottish-archives/volume-28/Blakeway.pdf" target="_blank">Reformation and Record Keeping: Dundee's Sixteenth-Century Burgh Books</a></li>
                    <li>Thomas Brochard, <a href="/documents/scottish-archives/volume-28/Brochard.pdf" target="_blank">Sports in Scottish Burgh and Notarial Records, 1500-1700, Part 2</a></li>
                    <li>Viviene E. Cree, <a href="/documents/scottish-archives/volume-28/Cree.pdf" target="_blank">Learning from the Past: The Life and Adventures of Mr George Robertson Nicoll</a></li>
                    <li>Ross McGregor and Cheryl McGeachan, <a href="/documents/scottish-archives/volume-28/McGregor-and-McGeachan.pdf" target="_blank">Undetected Medical Histories: William Macewen as Police Surgeon</a></li>
                    <li>Kirsty M. Stewart, <a href="/documents/scottish-archives/volume-28/Stewart.pdf" target="_blank">Resources on Fish, Fishing and Fisheries in the School of Scottish Studies Archives, University of Edinburgh</a></li>
                    <li>Iain Gordon Brown,  <a href="/documents/scottish-archives/volume-28/Brown.pdf" target="_blank">A Line on Copper: The Art and Practice of Engraving in the Age of Enlightenment - Expertise, Enterprise, Education and Entertainment (review article)</a></li>
                </ul>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa27">Scottish Archives Volume 27 (2021)</h2>
            <p>
                <ul class="list">
                    <li>Caroline Brown, <a href="/documents/scottish-archives/volume-27/caroline-brown.pdf" target="_blank">The Power of Archives</a></li>
                    <li>Heather Curtis, <a href="/documents/scottish-archives/volume-27/heather-curtis.pdf" target="_blank">Transactiones pro animabus: Rent Charges and the Economics of Salvation in Late Medieval St Andrews</a></li>
                    <li>Robert Irving, Faith Irving and Alison Diamond, <a href="/documents/scottish-archives/volume-27/irving-et-al.pdf" target="_blank">The Collection of Rubbings of West Highland Funerary Monument Carvings in the Argyll Papers at Inveraray Castle Archive: A Description of the Catalogue</a></li>
                    <li>Joseph Wagner, <a href="/documents/scottish-archives/volume-27/joseph-wagner.pdf" target="_blank">The Founding and Demise of Stewartstoun: The Carolina Company, the Wester Sugar House and the Expedition of 1686</a></li>
                    <li>Harry Lewis, <a href="/documents/scottish-archives/volume-27/harry-lewis.pdf" target="_blank">From 'the land of cakes' to Cadiz and Across the Atlantic: The Stewart Papers as a Source for Investigating Scottish Merchants in the Eighteenth Century</a></li>
                    <li>Sylvia Valentine, <a href="/documents/scottish-archives/volume-27/sylvia-valentine.pdf" target="_blank">Discovering Scotland's Anti-Vaccinators: 'The compulsory prostitution of healthy children to scientific cranks'</a></li>
                    <li>Thomas Brochard, <a href="/documents/scottish-archives/volume-27/thomas-brochard.pdf" target="_blank">Sports in Scottish Burgh and Notarial Records, 1500-1700, Part 1</a></li>
                    <li>Ian Riches, <a href="/documents/scottish-archives/volume-27/ian-riches.pdf" target="_blank">The National Trust for Scotland and its Archives</a></li>
                </ul>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa25">Scottish Archives Volume 25/26 (2019-2020)</h2>
            <p>
                <ul class="list">
                    <li>D. Brunton, <a href="/documents/scottish-archives/volume-25-26/deborah-brunton.pdf" target="_blank">Cholera 1832/Covid-19 2020: We Have Been Here Before</a></li>
                    <li>K.P. Müller, <a href="/documents/scottish-archives/volume-25-26/klaus-peter-muller.pdf" target="_blank">The Evolution of the Declaration of Arbroath 1320-2020: Seven Hundred Years of Struggling for the People's Power</a></li>
                    <li>J. Tucker, <a href="/documents/scottish-archives/volume-25-26/joanna-tucker.pdf" target="_blank">Medieval Cartulary Manuscripts in the National Library of Scotland</a></li>
                    <li>E. Williamson, <a href="/documents/scottish-archives/volume-25-26/eila-williamson.pdf" target="_blank">The Ordnance Survey Name Books: 'a treasure-trove' for Toponymists</a></li>
                    <li>C. Hough, <a href="/documents/scottish-archives/volume-25-26/carole-hough.pdf" target="_blank">The Berwickshire Place-Name Resource</a></li>
                    <li>D.C.F. Webster, <a href="/documents/scottish-archives/volume-25-26/diana-c-f-webster.pdf" target="_blank">Scottish County Map Surveys, 1770s-1820s: Collating 'New' Evidence</a></li>
                    <li>K. McCullough, <a href="/documents/scottish-archives/volume-25-26/katie-louise-mccullough.pdf" target="_blank">'Hints towards Establishing a Woollen Manufacture': Discovering Non-Landlord Economic Development in the Argyll Papers</a></li>
                    <li>G.J. Barclay, <a href="/documents/scottish-archives/volume-25-26/gordon-j-barclay.pdf" target="_blank">'The evidence has always been there': Unreliable Narrators and Archival Sources for the Battle of George Square, Glasgow, 31 January 1919</a></li>
                    <li>L. Heren, <a href="/documents/scottish-archives/volume-25-26/louise-heren.pdf" target="_blank">Sexual Violence in Early Twentieth-Century Scotland: An Overview</a></li>
                    <li>M. McHugh, <a href="/documents/scottish-archives/volume-25-26/mary-mchugh.pdf" target="_blank">The Archdiocese of Glasgow Archive</a></li>
                    <li>D. Cunynghame, <a href="/documents/scottish-archives/volume-25-26/daisy-cunynghame.pdf" target="_blank">The Archive of the Royal College of Physicians of Edinburgh</a></li>
                </ul>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa24">Scottish Archives Volume 24 (2018)</h2>
            <p>
                <ul class="list">
                    <li>J. Pelan, <a href="\documents\scottish-archives\volume-24\2388.ScottishArchives-24.2_Pelan.web.2020-01-27_1.pdf" target="_blank">Archives Matter</a></li>
                    <li>F. Saunderson, <a href="\documents\scottish-archives\volume-24\2388.ScottishArchives-24.3_Saunderson.web.2020-01-27_1.pdf" target="_blank">The General Data Protection Regulation (GDPR)</a></li>
                    <li>K. King, <a href="\documents\scottish-archives\volume-24\2388.ScottishArchives-24.4_King.web.2020-01-27_1.pdf" target="_blank">The Ballast Trust: Celebrating 30 Years of Understanding Technical Records</a></li>
                    <li>J.P. Ambuske, R. Flaherty and L.S. Moulds, <a href="\documents\scottish-archives\volume-24\2388.ScottishArchives-24.5_Ambuske.web.2020-01-27_1.pdf" target="_blank">Recovering Hidden Histories of Early America and the British Atlantic World with the Scottish Court of Session Digital Archive Project</a></li>
                    <li>F. Smith, <a href="\documents\scottish-archives\volume-24\2388.ScottishArchives-24.6_Smith.web.2020-01-27_1.pdf" target="_blank">'Hereby discerns and ordains': Sheriff Court Registers of Decrees and Their Relationship to Other Records</a></li>
                    <li>C. Fletcher, <a href="\documents\scottish-archives\volume-24\2388.ScottishArchives-24.7_Fletcher.web.2020-01-27_1.pdf" target="_blank">'Meddle in any manner of way with the rents and you will repent it': The Collection of Rents in the Regality of Grant</a></li>
                    <li>C. Cassells, <a href="\documents\scottish-archives\volume-24\2388.ScottishArchives-24.8_Cassells.web.2020-01-27_1.pdf" target="_blank">Talking About Sewing Machines</a></li>
                    <li>M. Pallister, <a href="\documents\scottish-archives\volume-24\2388.ScottishArchives-24.9_Pallister.web.2020-01-27_1.pdf" target="_blank">'The value to social history of the female perspective': Letters from Lady Grace Campbell to Her Husband John Campbell, Lord Stonefield (1750s)</a></li>
                    <li>C. Bryce, <a href="\documents\scottish-archives\volume-24\2388.ScottishArchives-24.10_Bryce.web.2020-01-27_1.pdf" target="_blank">Trades House of Glasgow Archives</a></li>
                    <li>R. Fyfe, <a href="\documents\scottish-archives\volume-24\2388.ScottishArchives-24.11_Fyfe.web.2020-01-27_1.pdf" target="_blank">Collections and Community: An Overview of East Lothian Council Archive Service</a></li>
                </ul>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa23">Scottish Archives Volume 23 (2017)</h2>
            <p>
                <ul class="list">
                    <li>D. Brunton, <a href="\documents\scottish-archives\volume-23\d-brunton-is-there-a-history-of-scottish-medicine.pdf" target="_blank">Is There a History of Scottish Medicine?</a></li>
                    <li>F. Bourne, <a href="\documents\scottish-archives\volume-23\f-bourne-the-royal-college-of-nursing-foundation-and-celebration.pdf" target="_blank">The Royal College of Nursing: Foundation and Celebration</a></li>
                    <li>J. Stewart, <a href="\documents\scottish-archives\volume-23\j-stewart-the-provision-of-health-care-under-the-scottish-poor-law-urban-central-scotland-in-the-late-nineteenth-century.pdf" target="_blank">The Provision of Health Care Under the Scottish Poor Law: Urban Central Scotland in the Late Nineteenth Century</a></li>
                    <li>I. Hutchison, <a href="\documents\scottish-archives\volume-23\i-hutchison-glasgows-royal-hospital-for-sick-children-tracing-its-journey-from-1861.pdf" target="_blank">Glasgow's Royal Hospital for Sick Children: Tracing its Journey from 1861</a></li>
                    <li>J. Cronin, <a href="\documents\scottish-archives\volume-23\j-cronin-the-schaw-convalescent-home-at-bearsden-not-another-costly-pile.pdf" target="_blank">The Schaw Convalescent Home at Bearsden: Not Another Costly Pile?</a></li>
                    <li>L. Reid, <a href="\documents\scottish-archives\volume-23\l-reid-midwifery-matters-finding-sources-to-shed-light-upon-the-1915-midwives-scotland-act.pdf" target="_blank">Midwifery Matters: Finding Sources to Shed Light Upon the 1915 Midwives (Scotland) Act</a></li>
                    <li>A. Kennedy, <a href="\documents\scottish-archives\volume-23\a-kennedy-military-rule-protectoral-governance-and-the-scottish-highlands-c1654-60.pdf" target="_blank">Military Rule, Protectoral Governance and the Scottish Highlands, c.1654-60</a></li>
                    <li>J. Turnbull, <a href="\documents\scottish-archives\volume-23\j-turnbull-venetian-glassmakers-in-the-prestonpans-area-in-the-seventeenth-century.pdf" target="_blank">Venetian Glassmakers in the Prestonpans Area in the Seventeenth Century</a></li>
                    <li>I. Thomson, <a href="\documents\scottish-archives\volume-23\i-thomson-glamis-castle-archives.pdf" target="_blank">Glamis Castle Archives</a></li>
                    <li>V. Woodcock, <a href="\documents\scottish-archives\volume-23\v-woodcock-the-harris-tweed-authority-archive-collection-archiving-an-industry.pdf" target="_blank">The Harris Tweed Authority Archive Collection: Archiving an Industry</a></li>
                </ul>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa22">Scottish Archives Volume 22 (2016)</h2>
            <p>
                <ul class="list">
                    <li>L. Frost, <a href="\documents\scottish-archives\volume-22\2304.ScottishArchives-22.1_Frost.web.2018-01-29.pdf" target="_blank">In Search of Margaret Anderson: Scottish Female Convicts Transported to Van Diemen's Land</a></li>
                    <li>S. Mullen, <a href="\documents\scottish-archives\volume-22\2304.ScottishArchives-22.2_Mullen.web.2018-01-29.pdf target="_blank">Scots in the West Indies in the Colonial Period: A View from the Archives</a></li>
                    <li>M. Harper, <a href="\documents\scottish-archives\volume-22\2304.ScottishArchives-22.3_Harper.web.2018-01-29.pdf" target="_blank">Missing Emigrants: Gleanings from Petitions Presented Under the Presumption of Life Limitation (Scotland) Acts</a></li>
                    <li>J. Jenkinson, <a href="\documents\scottish-archives\volume-22\2304.ScottishArchives-22.4_Jenkinson.web.2018-01-29.pdf" target="_blank">Friendly Aliens on the Home Front: Migrants, Refugees and Colonial Workers in Scotland During and After the First World War</a></li>
                    <li>S. Connelly, <a href="\documents\scottish-archives\volume-22\2304.ScottishArchives-22.5_Connelly.web.2018-01-29.pdf" target="_blank">Polish Troops in Perth and Kinross During the Second World War</a></li>
                    <li>R. Jones, <a href="\documents\scottish-archives\volume-22\2304.ScottishArchives-22.6_Jones.web.2018-01-29.pdf" target="_blank">Six Stories from Six Continents: The Varied Documentation of Global Migration in the Records of the University of Glasgow</a></li>
                    <li>F. Frank, <a href="\documents\scottish-archives\volume-22\2304.pdf" target="_blank">'My Solemn desire is not to burden themselves with religious duties': Researching 100 Years of a Scottish Jewish Family Through the Archives</a></li>
                    <li>I. Hutchison, <a href="\documents\scottish-archives\volume-22\2304.ScottishArchives-22.8_Hutchison.web.2018-01-29.pdf" target="_blank">The Value of Flawed Source: The Register of the Missions to Outdoor Blind for Edinburgh, the Borders and the Lothians, c.1903-10</a></li>
                    <li>B. Lawson, <a href="\documents\scottish-archives\volume-22\2304.ScottishArchives-22.9_Lawson.web.2018-01-29.pdf" target="_blank">The Royal Highland and Agricultural Society of Scotland Archive: Past, Present and Future</a></li>
                    <li>N. Maksymuik, <a href="\documents\scottish-archives\volume-22\2304.ScottishArchives-22.10_Maksymuik.web.2018-01-29.pdf" target="_blank">Glasgow Women's Library</a></li>
                    <li>H.L. Kaplan, <a href="\documents\scottish-archives\volume-22\2304.ScottishArchives-22.11_Kaplan.web.2018-01-29.pdf" target="_blank">The Scottish Jewish Archives Centre: 30 Years of Preserving the Records of an Immigrant Community</a></li>
                </ul>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa21">Scottish Archives Volume 21 (2015)</h2>
            <p>
                <ul class="list">
                    <li>A Diamond, <a href="\documents\scottish-archives\volume-21\2282.ScottishArchives-21.1_Diamond.web.2017-02-02-1.pdf" target="_blank">Leadership in Archives</a></li>
                    <li>A Tindley, <a href="\documents\scottish-archives\volume-21\2282.ScottishArchives-21.2_Tindley.web.2017-02-02.pdf" target="_blank">The Scottish History Society: 130 Years of Promoting the Best in Scottish History Scholarship</a></li>
                    <li>J W Armstrong & C H Miller & J Oliver, <a href="\documents\scottish-archives\volume-21\2282.ScottishArchives-21.3_Armstrong.web.2017-02-02.pdf" target="_blank">Bringing Archives and Archaeology Together: Community Research at the Bennachie Colony</a></li>
                    <li>N Reid, <a href="\documents\scottish-archives\volume-21\2282.ScottishArchives-21.4_Reid.web.2017-02-02.pdf" target="_blank">Five Centuries of Dispute: The Common Land of St Andrews</a></li>
                    <li>M Noble, <a href="\documents\scottish-archives\volume-21\2282.ScottishArchives-21.5_Noble.web.2017-02-02.pdf" target="_blank">The Problems and Possibilities of Common Good Accounts: Edinburgh, c. 1820-55</a></li>
                    <li>R Wishart, <a href="\documents\scottish-archives\volume-21\2282.ScottishArchives-21.6_Wishart.web.2017-02-02.pdf" target="_blank">Feudal Relations in Burghs of Barony in Aberdeensire, 1780-1833</a></li>
                    <li>Martin MacGilp, <a href="\documents\scottish-archives\volume-21\2282.ScottishArchives-21.7_MacGilp.web.2017-02-02.pdf" target="_blank">Motions, Puppie Plays, Punch and Pollies: Puppet Theatre in Scotland</a></li>
                    <li>M C T Simpson, <a href="\documents\scottish-archives\volume-21\2282.ScottishArchives-21.8_Simpson.web.2017-02-02.pdf" target="_blank">David Laing and his Correspondents</a></li>
                    <li>S A Harris-Logan, <a href="\documents\scottish-archives\volume-21\2282.ScottishArchives-21.9_Harris-Logan.web.2017-02-02.pdf" target="_blank">What's Past in Prologue: the Collections of the Royal Conservatoire of Scotland</a></li>
                    <li>J Hamilton, <a href="\documents\scottish-archives\volume-21\2282.ScottishArchives-21.10_Hamilton.web.2017-02-02.pdf" target="_blank">The Archive of the Society of Writers to the Signet at the Signet Library, Edinburgh Reviews</a></li>
                </ul>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa20">Scottish Archives Volume 20 (2014)</h2>
            <p>
                <ul class="list">
                    <li>H Buchanan, <a href="\documents\scottish-archives\volume-20\2250.ScottishArchives20.1_Buchanan.web.2016-01-27.pdf" target="_blank">Dead Flies, Dust and Tax Demands</a></li>
                    <li>L Roscoe, <a href="\documents\scottish-archives\volume-20\2250.ScottishArchives20.2_Roscoe.web.2016-01-27.pdf" target="_blank">The Illustrator and the Archive</a></li>
                    <li>K Baker and B Casebow, <a href="\documents\scottish-archives\volume-20\2250.ScottishArchives20.3_Baker_and_Casebow.web.2016-01-27.pdf" target="_blank">The Benefits of Creative Residencies: The Bartholomew Archive</a></li>
                    <li>F Baseby, <a href="\documents\scottish-archives\volume-20\2250.ScottishArchives20.4_Baseby.web.2016-01-27.pdf" target="_blank">The Private Affairs of Artists: Researching Private Archives</a></li>
                    <li>K Meehan & A Strang, <a href="\documents\scottish-archives\volume-20\2250.ScottishArchives20.5_Meehan_and_Strang.web.2016-01-27.pdf" target="_blank">'The Advantage in Buying Modern Pictures': Letters from the Scottish Colourist F.C.B. Cadell to his Patron Ion Harrison</a></li>
                    <li>K Meehan, <a href="\documents\scottish-archives\volume-20\2250.ScottishArchives20.6_Meehan.web.2016-01-27.pdf" target="_blank">Finding Fergusson: Tracing the Life and Work of a Scottish Artist</a></li>
                    <li>S Waters, <a href="\documents\scottish-archives\volume-20\2250.ScottishArchives20.7_Waters.web.2016-01-27.pdf" target="_blank">Rescue and Recovery: Working with Glasgow School of Art's Archives after the Mackintosh Building Fire</a></li>
                    <li>A Groundwater, <a href="\documents\scottish-archives\volume-20\2250.ScottishArchives20.8_Groundwater.web.2016-01-27.pdf" target="_blank">Ben Jonson's 'Foot Voyage' to Scotland in 1618: Assembling the Corroborative Evidence</a></li>
                    <li>A Allen, <a href="\documents\scottish-archives\volume-20\2250.ScottishArchives20.9_Allen.web.2016-01-27.pdf" target="_blank">Finding the Builders: Sources Lost and Extant for Edinburgh's Incorporation of Mary's Chapel</a></li>
                    <li>F Simm, <a href="\documents\scottish-archives\volume-20\2250.ScottishArchives20.10_Simm.web.2016-01-27.pdf" target="_blank">The Archives of George Heriot's School</a></li>
                    <li>D Kidd, <a href="\documents\scottish-archives\volume-20\2250.ScottishArchives20.11_Kidd.web.2016-01-27.pdf" target="_blank">The Scottish Life Archive</a></li>
                </ul>
                This volume includes indexes to volumes 11 to 20 of Scottish Archives, by author and by archive repository and record collection
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa19">Scottish Archives Volume 19 (2013)</h2>
            <p>
                <ul class="list">
                    <li>G Mackenzie, <a href="\documents\scottish-archives\volume-19\ScottishArchives19.1_MacKenzie.web.2015-02-17.pdf" target="_blank">Changing the Framework: Reflections on Records and Archives in Scotland, 2001-12</a></li>
                    <li>J Chambers, <a href="\documents\scottish-archives\volume-19\ScottishArchives19.2_Chambers.web.2015-02-17.pdf" target="_blank">Keepers and Archivists: Will They Be the Same Person Again?</a></li>
                    <li>M T R B Turnbull, <a href="\documents\scottish-archives\volume-19\ScottishArchives19.3_Turnbull.web.2015-02-17.pdf" target="_blank">Scottish Catholic Archives: A 2013 to Remember</a></li>
                    <li>P Whatley, <a href="\documents\scottish-archives\volume-19\ScottishArchives19.4_Whatley.web.2015-02-17.pdf" target="_blank">Scottish Catholic Archives: Looking to the Future</a></li>
                    <li>A Macleod, <a href="\documents\scottish-archives\volume-19\ScottishArchives19.5_MacLeod.web.2015-02-17.pdf" target="_blank">Painting Time: The Highland Journals of John Francis Campbell of Islay</a></li>
                    <li>O Geddes, <a href="\documents\scottish-archives\volume-19\ScottishArchives19.6_Geddes.web.2015-02-17.pdf" target="_blank">Stephen Place's Journal: A Footman's Visit to Scotland in 1832</a></li>
                    <li>A Kenny, <a href="\documents\scottish-archives\volume-19\ScottishArchives19.7_Kenny.web.2015-02-17.pdf" target="_blank">The Great Exhibition of 1851: Tracing the Scottish Contribution</a></li>
                    <li>S M Nisbet, <a href="\documents\scottish-archives\volume-19\ScottishArchives19.8_Nisbet.web.2015-02-17.pdf" target="_blank">Sugar and the Early Identity of Glasgow: Glasgow Planters in the Leeward Islands, c. 1650-1750</a></li>
                    <li>P A Gunn, <a href="\documents\scottish-archives\volume-19\ScottishArchives19.9_Gunn.web.2015-02-17.pdf" target="_blank">'Beyond Rubies and Pearls and Diamonds': A Manuscript Collection Recovered</a></li>
                    <li>L Williams, <a href="\documents\scottish-archives\volume-19\ScottishArchives19.10_Williams.web.2015-02-17.pdf" target="_blank">'To Amuse for an Hour'? Materiality, Femininity and Performance in the Scrapbook of Lady Maxwell</a></li>
                    <li>A Cameron and K Croll, <a href="\documents\scottish-archives\volume-19\ScottishArchives19.11_Cameron_and_Croll.web.2015-02-17.pdf" target="_blank">University of Strathclyde Archives</a></li>
                    <li>L. Gould, <a href="\documents\scottish-archives\volume-19\ScottishArchives19.12_Gould.web.2015-02-17.pdf" target="_blank">Lothian Health Service Archives</a></li>
                    <li>Iain Gordon Brown, <a href="\documents\scottish-archives\volume-19\Scottish-Archives_19.13-Brown.pdf" target="_blank">Grand Tourists in General and Particular (review article)</a></li>
                </ul>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa18">Scottish Archives Volume 18 (2012)</h2>
            <p>
                <ul class="list">
                    <li>A Durie, <a href="\documents\scottish-archives\volume-18\ScottishArchives18.web.1_Durie.pdf" target="_blank">An Ancient Researcher Laments</a></li>
                    <li>C Paton, <a href="\documents\scottish-archives\volume-18\ScottishArchives18.web.2_Paton.pdf" target="_blank">Genealogy and the Use of Online Resources</a></li>
                    <li>H Parker, <a href="\documents\scottish-archives\volume-18\ScottishArchives18.web.3_Parker.pdf" target="_blank">Family, Finance and Free Will: Marriage Contracts in Scotland, c.1380-1500</a></li>
                    <li>G Davis, <a href="\documents\scottish-archives\volume-18\ScottishArchives18.web.4_Davis.pdf" target="_blank">Sexual Snapshots: Departmental Committees and their Value to the Historian of Sexuality</a></li>
                    <li>M Johnstone, <a href="\documents\scottish-archives\volume-18\ScottishArchives18.web.5_Johnstone.pdf" target="_blank">Work Journals as Historical Evidence: the Burrell Journals, 1763-1820</a></li>
                    <li>B McLean, <a href="\documents\scottish-archives\volume-18\ScottishArchives18.web.6_McLean.pdf" target="_blank">The Gardens and Designed Landscape of Mount Stuart, c.1716-1901</a></li>
                    <li>D Steel and N Coombey, <a href="\documents\scottish-archives\volume-18\ScottishArchives18.web.7_Steel_and_Coombey.pdf" target="_blank">Enhancing the Designed Landscape of Cally: the Role of Archives in Assisting Community Conservation Projects</a></li>
                    <li>A Mutch, <a href="\documents\scottish-archives\volume-18\ScottishArchives18.web.8_Mutch.pdf" target="_blank">Data Mining the Archives: the Emergence of Separate Books of Account in the Church of Scotland 1608-1800</a></li>
                    <li>J D Ford, <a href="\documents\scottish-archives\volume-18\ScottishArchives18.web.9_Ford.pdf" target="_blank">A Guide to the Procedure of the Admiralty Court</a></li>
                    <li>Around the Archives: K Magee, <a href="\documents\scottish-archives\volume-18\ScottishArchives18.web.10_Magee.pdf" target="_blank">University of Stirling Archives</a></li>
                    <li>A Noble, <a href="\documents\scottish-archives\volume-18\ScottishArchives18.web.11_Noble.pdf" target="_blank">Of Incalculable Value: the Collections of Lloyds Banking Group</a></li>
                </ul>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa17">Scottish Archives Volume 17 (2011)</h2>
            <p>
                <ul class="list">
                    <li>M Moss, <a href="\documents\scottish-archives\volume-17\ScottishArchives17.web.1_Moss.pdf" target="_blank">What are we educating archivists for?</a></li>
                    <li>P Whatley, <a href="\documents\scottish-archives\volume-17\ScottishArchives17.web.2_Whatley.pdf" target="_blank">Scottish Archival Education: the perspective of the Centre for Archive and Information Studies, Dundee</a></li>
                    <li>I Gordon Brown, <a href="\documents\scottish-archives\volume-17\ScottishArchives17.web.3_Brown.pdf" target="_blank">James Hall's Paris Day (In memory of Patrick Cadell, 1941-2010)</a></li>
                    <li>A Tindley and C J Anderson, <a href="\documents\scottish-archives\volume-17\ScottishArchives17.web.4_Tindley_and_Anderson.pdf" target="_blank">Highland Estate Management and Mapping: Holdings at Golspie, Sutherland, c.1870-c.1920</a></li>
                    <li>E Rhodes, <a href="\documents\scottish-archives\volume-17\ScottishArchives17.web.5_Rhodes.pdf" target="_blank">Paper, Parchment and Protestants: Reformers and the Preservation of Catholic Ecclesiastical Documents in the Parish of St Andrews, c.1550-80</a></li>
                    <li>D Stevenson, <a href="\documents\scottish-archives\volume-17\ScottishArchives17.web.6_Stevenson.pdf" target="_blank">Apprenticeship: Scottish Stonemasons' Indentures, 1573-1740</a></li>
                    <li>A Durie, <a href="\documents\scottish-archives\volume-17\ScottishArchives17.web.7_Durie.pdf" target="_blank">Tracking Tourism: Visitors' Books and their Value</a></li>
                    <li>D Brunton, <a href="\documents\scottish-archives\volume-17\ScottishArchives17.web.8_Brunton.pdf" target="_blank">Health, Comfort and Convenience: Public Health and the Scottish Police Commissions, 1800-70</a></li>
                    <li>D Powell, <a href="\documents\scottish-archives\volume-17\ScottishArchives17.web.9_Powell.pdf" target="_blank">Tasglann nen Eilean Siar: A'fosgladh dorsan gu ulaidhean Tasglann anns na h'Eileanan Siar
(Hebridean Archive: Opening up Access to Archives in the Western Isles)</a></li>
                    <li>K M Stewart, <a href="\documents\scottish-archives\volume-17\ScottishArchives17.web.10_Stewart.pdf" target="_blank">Illegible, Erratic and Entertaining: Cataloguing the Notebooks of Alexander Carmichael</a></li>
                </ul>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa16">Scottish Archives Volume 16 (2010)</h2>
            <p>
                <ul class="list">
                    <li>A Murray, Patrick Moubray Cadell (17 March 1941 - 11 June 2010)</li>
                    <li>I O'Brien, Scottish Archives for the 21st century</li>
                    <li>I Gray, Unravelling Orem's Descriptions of Old Aberdeen</li>
                    <li>S Hewer, Searching for evidence of the Scottish Baroque in William Roy's military landscape</li>
                    <li>L Levy, 'Long life to thy fame and peace to thy soul': Walter Scott's collection of Burns's books and manuscripts</li>
                    <li>P Cadell , 1822 and All That</li>
                    <li>D Barrie, Nineteenth-century Scottish police records and their value for the historian</li>
                    <li>A Pattie, C E Brett, D J Bartholomew, M Lawn, I J Deary, Reconstructing a Scottish School of Educational Research, 1925-1950</li>
                    <li>L Byrne, Archives of the West Highland Museum, Fort William</li>
                    <li>A du Toit, The Lochaber Archive Centre, Fort William</li>
                    <li>F Skillen, Leisure, recreation and self-improvement in a Scottish mining community from the archives of Wanlockhead Miners' Library</li>
                </ul>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa15">Scottish Archives Volume 15 (2009)</h2>
            <p>
                <ul class="list">
                    <li>R Tanner, Historical sources and the internet revolution: past, present and future</li>
                    <li>I G Brown, In Paris without a Passport: Robert Sym's adventures in the capital of Bonaparte and Bourbon</li>
                    <li>A T Smith, Carta Falsa: an evaluation of No. 323 in the Bannatyne Edition of the Kelso Abbey Cartulary</li>
                    <li>J G Harrison, 'The Bread Book' and the Court and Household of Marie de Guise in 1549</li>
                    <li>N Dickson, Researching the Brethren Movement in Scotland: Problems and Possibilities</li>
                    <li>A Ritchie, The 'naval policy' of the Free Church of Scotland, 1843-1853</li>
                    <li>M Castrillo, 'In Union is strength': Trade Union records of the printing and bookbinding industries in the NLS</li>
                    <li>S Waters, The Glasgow School of Art Archives and Collections</li>
                    <li>S Bromage, D Finkelstein and A McCleery, Publishing, Oral History and the SAPPHIRE Archive</li>
                    <li>S A Kelly, Perth Local Studies Department and 500 years of Printing in Scotland</li>
                    <li>L Richmond, In the Beginning was the Word: The Archives of William, Collins, Sons & Co Ltd and Blackie & Sons Ltd, Printers & Publishers, Glasgow</li>
                </ul>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa14">Scottish Archives Volume 14 (2008)</h2>
            <p>
                <ul class="list">
                    <li>W Ugolini, 'The space in between': exploring the challenges of working with archives and personal
testimonies</li>
                    <li>K Bowie, Popular resistance and the ratification of the Anglo-Scottish treaty of union</li>
                    <li>T Clarke, A parish church on paper: in search of Tibbermore, Perthshire</li>
                    <li>PF Burton, Using Quaker records for social history</li>
                    <li>B Talbot, The use of the Scottish Baptist Church Archive in writing an illustrated history of Stirling Baptist Church</li>
                    <li>A Cameron, The fate of the Old Parish Registers under the Registration Act of 1854</li>
                    <li>A Lewis, Archival sources for the builders of the Library and Hall of the Royal College of Physicians of Edinburgh, 1776-1782</li>
                    <li>A McLean, The Dumfries House Papers</li>
                    <li>D B Murray, The Legacy of a Fellowship of Independent Churches, 1725 to 1989: the voluminous Glasite Archive</li>
                </ul>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa13">Scottish Archives Volume 13 (2007)</h2>
            <p>
                <ul class="list">
                    <li>R Rodger, The Future of the Past: Archives for all</li>
                    <li>A Rosie, Private records: where to from here?</li>
                    <li>E Roads, Maintaining the archives of the Court of the Lord Lyon</li>
                    <li>O Geddes and A Tindley, Who owns history - archivists or users? The Sutherland Estates Papers: a
case study</li>
                    <li>A Smith, 'South of the border'? Some great British family and estate collections</li>
                    <li>P Blom, 'Cabinet full of papers': archival sources for the Scottish nation in Veere</li>
                    <li>A Hoyer, Thematic and linguistic changes of 'Oor Wullie': the dynamics of a popular Scottish comic</li>
                    <li>J I Robertson, Slavery and the Stewarts of Garth</li>
                    <li>M Davis and A McGibbon, Approaches to the digitisation of the Richard Demarco Archives</li>
                    <li>J McBain, From here to posterity: preserving Scotland's moving image heritage</li>
                    <li>J Merchant, Presenting the past: the Threipland Papers</li>
                    <li>S Connelly, The Atholl Experience</li>
                </ul>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa12">Scottish Archives Volume 12 (2006)</h2>
            <p>
                <ul class="list">
                    <li>G Dixon, Some further problems in Scottish archives</li>
                    <li>V S Dunstan, Thoughts on archives: informal observations on locating records, facilities and access</li>
                    <li>F J Shaw, 'To the Glorie of God and the Weill of our Vocatioun'; the early years of the surgeons of Edinburgh, 1505 to 16666</li>
                    <li>A Ritchie, Finding Scottish Burgh records</li>
                    <li>C Swan, 'A life of debauchery, vice and drunkenness' the journal of Jonathan Troup, or two years in the West Indies</li>
                    <li>JG Harrison, The Justices of the Peace for Stirlingshire, 1660 to 1706</li>
                    <li>A Murray, The Exchequer Cat, 1715 to 1842</li>
                    <li>C Hill, 'A Company of Four': The Waste Book of a 1764 Kirkcudbrightshire Co-partnery in Trade</li>
                    <li>H Blair-Imrie, The 'Ordinary Processes' of the Sheriff Court: an important source for eighteenth-century agricultural and social history</li>
                    <li>C MacAulay, The Archives of the School of Scottish Studies, the University of Edinburgh</li>
                    <li>J Birnie and C McCarthy, The Diageo Archive - capturing the spirit of the past</li>
                    <li>A Nicoll, 'One of our main shop windows to the world at large': the Scottish Catholic Archives</li>
                </ul>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa11">Scottish Archives Volume 11 (2005)</h2>
            <p>
                <ul class="list">
                    <li>H L MacQueen, Reform of Archival legislation: a Scots perspective</li>
                    <li>C Parry, Web-based access to Scottish Health Records</li>
                    <li>M Greenan, The Forensic Medicine Archives Project at the University of Glasgow Archives</li>
                    <li>G Davis, Some historical uses of clinical psychiatric records</li>
                    <li>A Cameron, A unique source for the history of midwifery in Scotland: the Minutes of the Faculty of Physicians and Surgeons of Glasgow</li>
                    <li>M Park, Art in madness: Dr Browne, Joseph Askew and art activity at Crichton Royal Institution in the nineteenth century</li>
                    <li>M McCrae, Enquiry into the 'Deficiency' of medical men in the mid-nineteenth century Highlands</li>
                    <li>V Habib, Eighteenth-century upholsterers in the Edinburgh Old Town</li>
                    <li>S Jackson, Edinburgh Cabinet Makers' wage agreements and wage disputes, 1805 to 1826</li>
                    <li>M Rorke, The Scottish Customs Books as a source for sixteenth-century mercantile studies</li>
                    <li>I Gibbon, Faces of Scotland: the Reference Section at the Scottish National Portrait Gallery</li>
                    <li>C Brown, 'Unlocking the Medicine Chest' - medical records at the University of Dundee</li>
                    <li>F Bourne, The Royal College of Nursing Archives' Historical Nursing Journals Project</li>
                    <li>P Anderson, Cecil Sinclair (1931 - 2004)</li>
                </ul>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa10">Scottish Archives Volume 10 (2004)</h2>
            <p>
                <ul class="list">
                    <li>C Jackson, 'Assize of Error' and the Independence of the Criminal Jury in Restoration Scotland</li>
                    <li>F Bigwood, The Courts of Argyll, 1664-1825</li>
                    <li>B Longmore, The High Court of Justiciary Databases: a 'Solemn Path' through Crime</li>
                    <li>B Inglis, 'Scottish Testamentary Inventories: a neglected source for the study of Scottish agriculture - Dunblane, 1660-1740</li>
                    <li>T Clarke, Scottish Soldiers' wills, 1857-1965</li>
                    <li>D Webster, Little acorns and tall oaks: Project Pont and after</li>
                    <li>A Rosie, 'Something sensible for a change': The National Register of Archives for Scotland</li>
                    <li>K Dalyell, Family papers at the House of the Binns</li>
                    <li>R Cain, Archival and Manuscript resources for Scottish history in North Carolina repositories</li>
                </ul>
                This volume includes indexes to volumes 1 to 10 of Scottish Archives, by author and by archive repository and record collection.
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa9">Scottish Archives Volume 9 (2003)</h2>
            <p>
                <ul class="list">
                    <li>M Tyson, Digital Access to the records of Scotland's people</li>
                    <li>H Anderson, ScottishDocuments.com - Testaments online</li>
                    <li>E Roads, Four centuries of visual identity: the Archives of the Court of the Lord Lyon</li>
                    <li>I G Brown, Filling the Holes in the Todholes Aisle</li>
                    <li>D Baptie, Apprentices in the north-east of Scotland</li>
                    <li>P MacInnes, The Greenock Cut - Past and Present</li>
                    <li>C Jones, The 'Squadrone Volante' deciphered, 1707-1714: the Correspondence of George Baillie of Jerviswood, the Duke of Montrose and the Marquess of Tweeddale, together with the Keys to the Ciphers used</li>
                    <li>A Ritchie, ARCHON and Scotland</li>
                    <li>A Dundas-Bekker, Living with your Archives: Arniston House Papers</li>
                    <li>J Anderson, The Archives at Blair and Glamis Castles</li>
                </ul>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa8">Scottish Archives Volume 8 (2002)</h2>
            <p>
                <ul class="list">
                    <li>M Moss, The Archival Task Force - the charge</li>
                    <li>K M Forbes and R H J Urquhart, Records in the National Archives of Scotland Relating to Poor Relief, 1845-1930</li>
                    <li>R E Tyson, Poverty and Poor Relief in Aberdeen, 1680-1705</li>
                    <li>W W Groves, The New Poor Law in Nineteenth Century Scotland, with special reference to Lanarkshire</li>
                    <li>K Wilbraham and C Lodge, Responses to Poverty in Ayrshire, 1574-1845</li>
                    <li>J Rock, Richard Cooper, Senior, and the Beginnings of Rococo Taste in Scotland: documents from the Traquair Archives</li>
                    <li>M Nix, A Comparison of Published and Unpublished Records Relating to Trade Between Leith and Australia in the Early 1820s</li>
                    <li>E Williamson, Schoolboy Scribbles on a Burgh Court Book</li>
                    <li>M C Carmichael, Dualchas - Skye and Lochalsh Area Museums Service, the Highland Council</li>
                    <li>A McLean, The Mount Stuart Archives</li>
                </ul>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa7">Scottish Archives Volume 7 (2001)</h2>
            <p>
                <ul class="list">
                    <li>G Mackenzie, Continuity and Change - Challenges in Scottish Archives</li>
                    <li>G Dixon, Some Problems in Scottish Archives</li>
                    <li>J G Harrison, 'Policing' the Stirling Area, 1660-1706</li>
                    <li>M M Stewart, 'A Policeman's Lot' : Police Records in Dumfries and Galloway, 1850-1950</li>
                    <li>A Dinsmor and R H J Urquhart, The Origins of Modern Policing in Scotland</li>
                    <li>I Levitt, The Scottish Emergencies Organisation, the Scottish Islands and the Seamen's Strike, 1966</li>
                    <li>M Storrie, Recovering the Historic Designed Landscape of Islay Estate</li>
                    <li>C Parry, Royal College of Physicians and Surgeons of Glasgow</li>
                    <li>A Jones and P McIntyre, Technology and Tweed at Heriot-Watt University</li>
                </ul>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa6">Scottish Archives Volume 6 (2000)</h2>
            <p>
                <ul class="list">
                    <li>C Kitching, Archives at the Millennium: what we learned and how we can take it forward</li>
                    <li>P Cadell, Scottish Archives: problems and opportunities</li>
                    <li>I Barnes, The Scottish Archive Network and Future Issues for Scottish Archives</li>
                    <li>I Flett, Scottish Local Government Archives in the New Millenium: modernity and majesty or meltdown and mediocrity?</li>
                    <li>L M Richmond, Determining the Future of Scottish History: the challenge of digital records to Scottish archivists</li>
                    <li>R Bigwood, A User's View of the Archives</li>
                    <li>I Levitt, Scottish Papers Presented to the British Cabinet 1917-66: their archival and historical significance</li>
                    <li>A Jones, Rescued from Oblivion? The case of Mary Burton and Liberton Bank House</li>
                    <li>R J Tanner, Outside the Acts: perceptions of the Scottish Parliament in literary sources before 1500</li>
                    <li>H Holmes, Viewing an 'Underworld': sources of evidence for Irish migratory potato workers in early twentieth-century Scotland</li>
                    <li>K Wilbraham, Ayrshire Archives</li>
                    <li>H L Kaplan, The Scottish Jewish Archives Centre</li>
                    <li>B Bonnyman, The Third Duke of Buccleuch, Adam Smith and the Entail Act of 1770</li>
                </ul>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa5">Scottish Archives Volume 5 (1999)</h2>
            <p>
                <ul class="list">
                    <li>E Reid, Above the Parapet: some thoughts on the future structure of archives in Scotland</li>
                    <li>F Maxwell Stuart, Inside View</li>
                    <li>G Stamp, It Looks Like Carelessness, or, in Search of Alexander Greek Thomson</li>
                    <li>J Lowrey, Archives and Archaeology: the prehistory of Queensberry House, Edinburgh</li>
                    <li>I Gray, Dean of Guild Court Records: a unique source for Scottish urban history</li>
                    <li>I Gow, Archerfield: the reconstruction of Robert Adam's last interior</li>
                    <li>B S Skillen, Land Use and Urban History in the Glasgow Context</li>
                    <li>A L Murray, The Town Clerk of Perth's Liber Omne Gaderum 1425</li>
                    <li>I Levitt, Scottish Air Services, 1935-75 and the Scottish New Towns, 1943-75: a guide to records at the National Archives of Scotland</li>
                    <li>N H Reid, The photographic collections in St Andrews University Library</li>
                    <li>D Watters, Complexity and diversity: case studies in Scottish twentieth-century architectural archives</li>
                    <li>W Laing and R H J Urquhart, A seventeenth-century description of herring fishing off the west coast of Scotland</li>
                    <li>T Smith, Elusive Sculptors: sources for identifying and accrediting architectural sculpture</li>
                </ul>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa4">Scottish Archives Volume 4 (1998)</h2>
            <p>
                <ul class="list">
                    <li>A T Wilson, Following Follett: some related issues in Scottish university archives</li>
                    <li>I Flett, The Genealogy of Archives: root and branch of the tree of administration</li>
                    <li>J Scally, The Hamilton Papers as a source for the history of the British Civil Wars</li>
                    <li>W Ferguson, Record Sources for the Electoral History of Scotland, 1707-1832</li>
                    <li>I G C Hutchison, Archival Sources for the Study of Scottish Political History in the 19th and 20th Centuries: a survey</li>
                    <li>W H Fraser, Tracing the Rise of Independent Labour in Scotland</li>
                    <li>R J Finlay, The Anatomy of the Birth of the Scottish National Party, 1918-1942</li>
                    <li>C Burness, Tracing Women in Scottish politics since 1880 and the case of an accidental trailblazer: Katharine, Duchess of Atholl, and Member of Parliament for Kinross and West Perthshire, 1923-1938</li>
                    <li>P R McCleave, Family, Friends and Feminism: a mid-Victorian retrospect</li>
                    <li>A Murray, Dirty Work at the Exchequer: Inverness's charter and accounts, 1592-1594</li>
                    <li>S Kingston, A Previously Unremarked Clann Eoin Mhoir Genealogy</li>
                    <li>A Topen, The Scottish Brewing Archive</li>
                    <li>S Convery, J Cripps and I Gray, Aberdeen City Archives: a celebration of 600 years of council registers</li>
                </ul>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa3">Scottish Archives Volume 3 (1997)</h2>
            <p>
                <ul class="list">
                    <li>R H Campbell, The Scottish Records Advisory Council in Retrospect</li>
                    <li>M A Crowther, The Scottish Records Advisory Council in Prospect</li>
                    <li>R Saville, Banking Archives and Scottish History</li>
                    <li>A Durie, 'Notes Very Much Chattered with Mice': banking records as a source for the study of Scottish local history</li>
                    <li>S McDonald, Bank of Scotland Archives: past, present and future</li>
                    <li>V Wilkinson, Hidden Treasures: a brief insight into the Scottish archives of The Royal Bank of Scotland</li>
                    <li>B Peters, Coutts & Co. - a Bank of Information</li>
                    <li>D J Withrington, Sources for Scottish Schooling Before 1872: challenges and opportunities</li>
                    <li>A Lindsay, Sources for the Study of Education in the Scottish Record Office</li>
                    <li>W B Marker, Sources for the History of Scottish Teacher Education in the Twentieth Century</li>
                    <li>L Moore, Researching the Education of Middle Class Girls: with particular reference to private schools</li>
                    <li>F Bigwood, A Database of Sources for Scottish West Coast Fishing and Trading Enterprises 1750-1800</li>
                    <li>M Macdonald, Clan Donald Lands Trust Archives, Isle of Skye</li>
                    <li>M Fox, The Traquair House Archives</li>
                </ul>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa2">Scottish Archives Volume 2 (1996)</h2>
            <p>
                <ul class="list">
                    <li>S Connelly, The Proper Place for Archives in the New Scottish Local Authorities</li>
                    <li>I G Brown, 'On Classic Ground': records of the Grand Tour</li>
                    <li>A J Durie, Sources for the Study of Tourism in Nineteenth Century Scotland</li>
                    <li>A Hiley, 'Scotland's Name is Poetry to our Ears': German travellers in Scotland c.1800-1860</li>
                    <li>P G Vasey, 'Visitors and Voyages': a personal selection of travel diaries and related material in the Scottish Record Office</li>
                    <li>R H Campbell, Irish Paupers in Wigtownshire after 1845</li>
                    <li>I Levitt, Henry Littlejohn and Scottish Health Policy, 1859-1908</li>
                    <li>C McLaren, Five Hundred Years and Counting: Recent studies in the archives of the University of Aberdeen</li>
                    <li>R Steward, Highland Regional Archive: the first five years</li>
                    <li>L Fryer, The Covenanters' Lost Colony in South Carolina</li>
                </ul>
            </p>
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2 class="section-title" id="sa1">Scottish Archives Volume 1 (1995)</h2>
            <p>
                <ul class="list">
                    <li>P Cadell, The Archives of Scotland</li>
                    <li>I Morrison, Evidence of Climatic change before and During the Age of Agricultural Improvement</li>
                    <li>A A Sclater, Picturesque Privacy: landscape improvement at Culzean from c.1750</li>
                    <li>I D Whyte, Before the Improvers: agricultural and landscape change in lowland Scotland c.1600-c.1750</li>
                    <li>A Hendry, Archibald Hamilton of Rozelle (1778-1848): the improving hand</li>
                    <li>R H Campbell, The Agricultural Revolution of the Twentieth Century</li>
                    <li>M M Stewart, 'In Durance Vile': crime and punishment in seventeenth and eighteenth century records of Dumfries</li>
                    <li>M A Crowther, Criminal Precognitions and their Value for the Historian</li>
                    <li>I Donnachie, Profiling Criminal Offences: the evidence of the Lord Advocate's papers during the first half of the nineteenth century in Scotland</li>
                    <li>L Yeoman, The Devil as Doctor: witchcraft, Wodrow and the wider world</li>
                    <li>E M Watson, The Scottish Theatre Archive: Present and Future</li>
                    <li>L Mackenney, The Birth of an Archive: The Scottish Theatre Archive 1981-1985</li>
                    <li>J Merchant, The Dundee Maidservants' Agitation 1872: Problems and Possibilities</li>
                </ul>
            </p>
        </div>
    </section>    
</main>