---
title: The Tunnock Prize
layout: 'base.njk'
---

<main>     
    <section>
        <div class="container flow">
            <h1 class="section-title">The Tunnock Prize</h1>
            <h2>The Tunnock Prize 2024</h2>
            <p>The Tunnock Prize for 2024 is awarded to Grant Schreiber, a PhD candidate at the University of Guelph, Canada, for his essay entitled 'Kirk Session Financial Records and the Poor of Aberdeen, 1602-27'. Grant provided a presentation about his research at the AGM of the Scottish Records Association on 17 December, and his winning essay will appear in a forthcoming volume of <a href="https://www.scottishrecordsassociation.org/scottish-archives">Scottish Archives</a>.</p>       
        </div>
    </section>
    <section>
        <div class="container flow">
            <h2>Previous winners of The Tunnock Prize</h2>
            <p>2020 Heather Curtis, University of St Andrews, 'Transactiones pro animabus': Rent Charges and the Economics of Salvation in Late Mediaeval St Andrews'.</p>
            <p>2021 Robert Fell, University of Edinburgh, 'It happened at the berry-time when Travellers came to Blair': Traveller Voices in Tobar an Dualchais / Kist o Riches</p>
            <p>2022 Alison Spence, University of Glasgow, 'Milton printworks, Patrick Mitchell and calico printing in the West of Scotland, 1796-1861'. Honorary Mention: Esther Draycott, 'All Shadows are alive', Glasgow School of Art.</p>
            <p>2023  James Fox, University of St Andrews, 'Recordkeeping and the Business of Books in pre-Union Edinburgh: The Debt Book of John Porteous, 1699-1702'.</p>
        </div>
    </section>
</main>